:root {
    --about-me-color: #559cd6;
    --projects-color: #6b9955;
    --contact-me-color: #e69912;
    --backround-color: #2a2a2a;
}

* {
    color: white;
    background-color: var(--backround-color);
    line-height: 1.5;
    font-family: Verdana, 'sans-serif';
}

header {
    text-align: center;
}

header ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    font-size: 1.3rem;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1.2rem;
    padding: 10px;
}

/*assigns the first link in the nav bar with it's distinct colour*/
.nav-links>li:nth-child(1) a{
    color: var(--about-me-color);
}

/*assigns the second link in the nav bar with it's distinct colour*/
.nav-links>li:nth-child(2) a {
    color: var(--projects-color);
}

/*assigns the third link in the nav bar with it's distinct colour*/
.nav-links>li:nth-child(3) a {
    color: var(--contact-me-color);
}

/*changes the styling of each nav link when the user hovers over it*/
.nav-links>li:nth-child(1):hover a {
    color: white;
    background-color: var(--about-me-color);
}

/*changes the styling of each nav link when the user hovers over it*/
.nav-links>li:nth-child(2):hover a {
    color: white;
    background-color: var(--projects-color);
}

/*changes the styling of each nav link when the user hovers over it*/
.nav-links>li:nth-child(3):hover a {
    color: white;
    background-color: var(--contact-me-color);
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown a {
    font-size: 1rem;
}

/*hides the dropdown menu when the uesr isn't interacting with it*/
.nav-links li .dropdown li {
    display: none;
}

.dropdown li {
    padding: 5px 0;
}

/*makes the dropdown menus visable to the user upon hovering over the nav link in which the drop down is associated*/
.nav-links li:hover .dropdown li {
    display: block;
    transition-property: display;
    transition-duration: 4s;
    transition-delay: 3s;
}

h2 {
    font-size: 2rem;
    padding: 10px;
}

/*sets all the images to a max-width so that they do not try and escape their containers*/
img {
    max-width: 100%;
}

/*gives a border to break up the section heading and section content*/
#about-me .section-heading {
    border-bottom: var(--about-me-color) solid 3px;
    margin: 0 20px;
}

#about-me h2 {
    color: var(--about-me-color);

}

.avatar {
    max-width: 40%;
}

/*gives a border to break up the section heading and section content*/
#projects .section-heading {
    border-bottom: var(--projects-color) solid 3px;
    margin: 0 20px;
}

/*setting the project titiles to display ontop of the project images*/
#projects .section-content p {
    text-align: center;
    padding: 0 0 0 5px;
    width: 35%;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 5px;
    position: relative;
    bottom: 45px;
    left:20px;
}

#projects h2 {
    color: var(--projects-color);
}

.project-main img {
    padding-top: 10px;
    height: auto;
    width: 1450px;
}

.project-other img {
    max-width: 90%;
}

.section-content div {
    padding-bottom: 50px;
}

/*gives a border to break up the section heading and section content*/
#contact-me .section-heading {
    border-bottom: var(--contact-me-color) solid 3px;
    margin: 0 20px;
}

#contact-me h2 {
    color: var(--contact-me-color);
}

/*sizes the contact icons to fit next to their respective text*/
.contact-icons {
    max-width: 7%;
    padding-right: 8px;
    position: relative;
    top: 8px;
}

/*For display sizes 768px and above, font sizes changed to reflect change in screen size*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    /*sets the header to dispplay horizontally*/
    header {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: flex;
        padding-top: 20px;
    }

    header li {
        padding: 0 10px;
    }

    #projects .section-content {
        display: flex;
        flex-wrap: wrap;
    }

    /*shrinks all project images but the main project image down so that two fit per row*/
    .project-other {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
    }
}

/*For display sizes 992px and above, font sizes changed to reflect change in screen size*/
@media screen and (min-width: 992px) {
    main section {
        padding-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    header li {
        padding: 0 20px;
    }

    /*to make the section heading and section content sit side by side*/
    #about-me {
        display: flex;
    }

    .avatar {
        max-width: 20%;
    }
    /*gives a border to break up the section heading and section content*/
    #about-me .section-heading {
        border-right: var(--about-me-color) solid 3px;
        border-bottom: none;
        margin: 0;
    }

    /*sets the avarar image and the paragraph sit side by side*/
    #about-me .section-content{
        display: flex;
        align-items: flex-end;
    }

    /*to make the section heading and section content sit side by side*/
    #projects {
        display: flex;
        flex-direction: row;
    }

    /*gives a border to break up the section heading and section content*/
    #projects .section-heading {
        border-right: var(--projects-color) solid 3px;
        border-bottom: none;
        margin: 0;
    }

    #projects img {
        padding: 0 15px;
    }

    /*lets the images sit side by side and flow to a different row when they won't all fit on the one row*/
    #projects .section-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    /*shrinks the project images to they sit two to a row*/
    .project-main {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
    }

    /*shrinks the project images to they sit two to a row*/
    .project-other {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
    }

    /*to make the section heading and section content sit side by side*/
    #contact-me {
    display: flex;
    }

    /*gives a border to break up the section heading and section content*/
    #contact-me .section-heading {
        border-right: var(--contact-me-color) solid 3px;
        border-bottom: none;
        margin: 0;
    }

    /* #contact-me .contact-info {
        display: flex;
    
    } */

    .contact-icons {
        max-width: 4%;
    }

    .section-heading {
        padding: 0;
        margin: 0;
        min-width: 18%;
    }

    .section-content {
        padding-left: 20px;
    }

    footer {
        text-align: end;
        padding-top: 33px;
    }
}

