:root {
    --about-me-color: #ffc600;
    --projects-color: #49b04f;
    /* --contact-me-color: #ff9d00; */
    --contact-me-color: #a851e3;
    --header-footer-background: #122738;
    --backround-color: #193549;
    --border-radius: 5px;
}

* {
    color: white;
    line-height: 1.5;
    font-family: Verdana, 'sans-serif';
}

header {
    text-align: center;
    background-color: #122738;
    margin-bottom: 10px;
}

header ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    font-size: 1.3rem;
}

h1 {
    font-size: 3.5rem;
    text-shadow: 2px 5px 2px black;
}

nav ul a {
    text-shadow: 1px 2px 2px black;
}

.nav-links li a {
    padding: 10px;
}

/*assigns the first link in the nav bar with its distinct colour*/
.nav-links>li:nth-child(1) a{
    color: var(--about-me-color);
}

/*assigns the second link in the nav bar with its distinct colour*/
.nav-links>li:nth-child(2) a {
    color: var(--projects-color);
}

/*assigns the third link in the nav bar with its distinct colour*/
.nav-links>li:nth-child(3) a {
    color: var(--contact-me-color);
}

/*changes the styling of each nav link when the user hovers over it*/
.nav-links>li:nth-child(1):hover a {
    color: white;
    background-color: var(--about-me-color);
    border-radius: var(--border-radius);
}

/*changes the styling of each nav link when the user hovers over it*/
.nav-links>li:nth-child(2):hover a {
    color: white;
    background-color: var(--projects-color);
    border-radius: var(--border-radius);
}

/*changes the styling of each nav link when the user hovers over it*/
.nav-links>li:nth-child(3):hover a {
    color: white;
    background-color: var(--contact-me-color);
    border-radius: var(--border-radius);
}

/*makes sure the drop down menu falls in a column under its parent nav*/
.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown a {
    font-size: 1.1rem;
}

/*hides the dropdown menu when the user isn't interacting with it*/
.nav-links li .dropdown li {
    display: none;
}

.dropdown li {
    padding: 5px 0;
}

/*makes the dropdown menus visable to the user upon hovering over the nav link in which the drop down is associated*/
.nav-links li:hover .dropdown li {
    display: block;
}

body {
    background-color: var(--backround-color);
}

h2 {
    font-size: 2rem;
    padding: 10px;
    text-shadow: 1px 2px 2px black;
}

/*sets all the images to a max-width so that they do not try and escape their containers*/
img {
    max-width: 100%;
}

p {
    font-size: 1.2rem;
    padding: 20px;
}

.section-heading {
    margin: 0 20px;
    box-shadow: 0 4px 2px -2px black;
}

/*gives a border to break up the section heading and section content*/
#about-me .section-heading {
    border-bottom: var(--about-me-color) solid 3px;
}

#about-me h2 {
    color: var(--about-me-color);

}

.avatar {
    max-width: 40%;
}

/*gives a border to break up the section heading and section content*/
#projects .section-heading {
    border-bottom: var(--projects-color) solid 3px;
}

/*setting the project titiles to display ontop of the project images*/
#projects .section-content figcaption {
    background-color: var(--backround-color);
    text-align: center;
    padding: 10px;
    width: 35%;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: var(--border-radius);
    position: relative;
    bottom: 65px;
    left:50px;
}

#projects h2 {
    color: var(--projects-color);
}

#projects img {
    padding:0 10px;
    border-radius: 8%;
    height: auto;
    width: 900px;
}

/*stops the top projext image from being right up against the .section-heading boorder-bottom*/
#projects img:first-of-type{
    padding-top: 10px;
}

.project-other img {
    max-width: 60%;
}

/*gives a border to break up the section heading and section content*/
#contact-me .section-heading {
    border-bottom: var(--contact-me-color) solid 3px;
}

#contact-me h2 {
    color: var(--contact-me-color);
}

/*sizes the contact icons to fit next to their respective text*/
.contact-icons {
    max-width: 7%;
    padding-right: 8px;
    position: relative;
    top: 8px;
}

footer {
    text-align: end;
    padding-top: 33px;
    background-color: var(--header-footer-background);
}

/*For display sizes 768px and above, font sizes changed to reflect change in screen size*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    /*sets the header to dispplay horizontally*/
    header {
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: flex;
        padding-top: 20px;
    }

    header li {
        padding: 0 10px;
    }

    /*sets the avatar image and the paragraph sit side by side*/
    #about-me .section-content {
        display: flex;
        align-items: flex-end;
    }

    .avatar {
        max-width: 25%;
    }

    /*lets the images sit side by side and flow to a different row when they won't all fit on the one row*/
    #projects .section-content {
        display: flex;
        flex-wrap: wrap;
    }

    /*shrinks all project images but the main project image down so that two fit per row*/
    .project-other {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
    }
}

/*For display sizes 992px and above, font sizes changed to reflect change in screen size*/
@media screen and (min-width: 992px) {
    /*decreases the zoom of the webpage at 992px*/
    main{
        zoom: 0.9;
    }

    main section {
        padding-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    header li {
        padding: 0 20px;
    }

    /*makes all the .section-heading line up*/
    .section-heading {
        padding: 0;
        margin: 0;
        min-width: 18%;
    }

    /*to make the section heading and section content sit side by side*/
    #about-me {
        display: flex;
    }

    .avatar {
        max-width: 20%;
    }
    /*gives a border to break up the section heading and section content*/
    #about-me .section-heading {
        border-right: var(--about-me-color) solid 3px;
        border-bottom: none;
        box-shadow: none;
    }

    /*to make the section heading and section content sit side by side*/
    #projects {
        display: flex;
        flex-direction: row;
    }

    /*gives a border to break up the section heading and section content*/
    #projects .section-heading {
        border-right: var(--projects-color) solid 3px;
        border-bottom: none;
        box-shadow: none;
    }

    #projects img {
        padding: 0 15px;
    }
    
    /*shrinks the project images to they sit two to a row*/
    .project-main {
        flex: 0 0 90%;
        display: flex;
        flex-direction: column;
    }

    /*to make the section heading and section content sit side by side*/
    #contact-me {
    display: flex;
    }

    /*gives a border to break up the section heading and section content*/
    #contact-me .section-heading {
        border-right: var(--contact-me-color) solid 3px;
        border-bottom: none;
        box-shadow: none;
    }

    .contact-icons {
        max-width: 4%;
    }
}

