:root {
    --about-me-color: #559cd6;
    --projects-color: #6b9955;
    --contact-me-color: #e69912;
}

* {
    color: white;
    background-color: #1c1c1c;
    line-height: 1.5;
    font-family: Monaco, 'Courier New', monospace;
}

header {
    text-align: center;
}

header ul {
    list-style-type: none;
}


header a {
    text-decoration: none;
    font-size: 1.3em;
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 1.2em;
    padding: 10px;
}

ul li:nth-child(1):hover a {
    background-color: var(--about-me-color);
}

ul li:nth-child(2):hover a {
    background-color: var(--projects-color);
}

ul li:nth-child(3):hover a {
    background-color: var(--contact-me-color);
}

h2 {
    font-size: 2em;
    padding: 10px;
}

img {
    max-width: 100%;
}

#about-me h2 {
    color: var(--about-me-color);

}

.avatar {
    max-width: 40%;
}

#projects h2 {
    color: var(--projects-color);
}

/* .project-main {
    text-align: center;
} */

/* .project-other {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .project-other img{
    max-width: 80%;
} */

.section-content div {
    padding-bottom: 50px;
}

#contact-me h2 {
    color: var(--contact-me-color);
}

@media screen and (min-width: 992px) {
    main section {
        padding-bottom: 20px;
    }

    header {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: flex;
        padding-top: 20px;
    }

    header li {
        padding: 0 20px;
    }

    #about-me {
        display: flex;
    }

    .avatar {
        max-width: 20%;
    }

    #about-me .section-heading {
        border-right: var(--about-me-color) solid 3px;
    }

    #about-me .section-content{
        display: flex;
        align-items: flex-end;
    }

    #projects {
        display: flex;
    }

    #projects .section-heading {
        border-right: var(--projects-color) solid 3px;
    }

    #projects img {
        padding: 0 15px;
    }

    #projects .section-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-main {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
    }

    .project-other {
        flex:1 1 30%;
        display: flex;
        flex-direction: column;
    }

    #contact-me {
    display: flex;
    }

    #contact-me .section-heading {
        border-right: var(--contact-me-color) solid 3px;
    }

    #contact-me .contact-info {
    display: flex;
    }

    .section-heading {
        min-width: 18%;
    }

    .section-content {
        padding-left: 20px;
    }

    footer {
        text-align: end;
        padding-top: 33px;
    }
}